.wrapper{
    margin: 0px auto;
    position: absolute;
    width: 1400px;
}

.header{
    background-image: url('https://i.ibb.co/g7my58W/header-5.jpg');
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    float: left;
    padding-bottom: 10px;
}

.left {
    float: left;
    padding: 10px;
    margin-right: 20px;
    width: 10%;
}

.middle {
    float: left;
    padding-top: 10px;
    margin-right: 20px;
    width: 80%;
    text-align: center;
}

.right {
    padding: 10px;
    float: right;
    width: 10%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    padding: 0px;
    margin: 0px;
}



